<div>
  <% if @nutshells.count == 0 %>
    <%= link_to "Create Your First Thynkdup", new_nutshell_path %>
  <% else %>
    <% @nutshells.each do |nutshell| %>
      <div>
        <%= link_to nutshell.title, nutshell_path(nutshell) %> |
        <%= nutshell.content %>
      </div>
    <% end %>
  <% end %>
</div>
